{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="static/css/style.css" />


<div id="title">
    <a href="/">
        <img id="logo" src={{ url_for('static', filename='images/logo.png') }} />
    </a>



</div>
<div id="cartItems">
    <h2>Your order has been placed successfully</h2>
    <div id="tableItems">
        <hr id="seperator">
        <div id="total">
            <a style="font-size:24px"><span id="subtotal">Total</span> : ${{totalPrice}}</a>
</div>
    </div>
</div>

<a href="{{ url_for('cart.cart')}}" class="btn btn-primary">Return to Cart</a>

{% endblock %}

