{% extends "base.html" %}
{% block content %}           <!-- .html page used for creating a blog post -->
<div class="container">
  <form class="form-group" method="POST">
     {{ form.hidden_tag() }}

     <div class="form-group">
     {{ form.title.label(class="form-control-label") }}
     {{ form.title(class="form-control form-control-lg ") }}
     </div>
     <div class="form-group">
     {{ form.text.label(class="form-control-label") }}
     {{ form.text(class="form-control form-control-lg") }}
     </div>
     <div class="form-group">

       <select class="custom-select" name ="rating">
         <option selected>How would you rate this book</option>
         <option value="1">One Star</option>
         <option value="2">Two Star</option>
         <option value="3">Three Star</option>
         <option value="4">Four Star</option>
         <option value="5">Five Star</option>
       </select>
     </div>
<div class="form-group">
  <input class="form-check-input" type="checkbox" value="true_private" name = "true_private" >
  <label class="form-check-label" for="true_private">
    Would you like to leave an anonymous review?
  </label>
</div>

     <div class="form-group">
         {{ form.submit(class="btn btn-outline-info") }}
     </div>
  </form>

</div>




{% endblock content %}
